*   @dbt-labs/ai @jasnonaz @b-per @jairus-m

/src/dbt_mcp/semantic_layer/   @dbt-labs/ai @dbt-labs/semantic-layer @jasnonaz @b-per @jairus-m
/src/dbt_mcp/prompts/semantic_layer/   @dbt-labs/ai @dbt-labs/semantic-layer @jasnonaz @b-per @jairus-m
CHANGELOG.md   @dbt-labs/ai @dbt-labs/semantic-layer @jasnonaz @b-per @jairus-m
/.changes   @dbt-labs/ai @dbt-labs/semantic-layer @jasnonaz @b-per @jairus-m
